body {
  font-family: "Verdana", sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.8 );
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  margin-top: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

code {
  background-color: #f9f9f9;
  color: black;
  padding: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Courier New", monospace;
}

section {
  margin-bottom: 25px;
}

